/* FONTS */

@font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Medium.eot');
    src: local('../fonts/TT Lakes Medium'), local('../fonts/TTLakes-Medium'),
        url('../fonts/TTLakes-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Medium.woff') format('woff'),
        url('../fonts/TTLakes-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Regular.eot');
    src: local('../fonts/TT Lakes Regular'), local('../fonts/TTLakes-Regular'),
        url('../fonts/TTLakes-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Regular.woff') format('woff'),
        url('../fonts/TTLakes-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'TT Lakes';
    src: url('../fonts/TTLakes-Bold.eot');
    src: local('../fonts/TT Lakes Bold'), local('../fonts/TTLakes-Bold'),
        url('../fonts/TTLakes-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/TTLakes-Bold.woff') format('woff'),
        url('../fonts/TTLakes-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
  }
  
/* RESET CSS */
  
button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    /* отображаем курсор в виде руки при наведении; некоторые
    считают, что необходимо оставлять стрелочный вид для кнопок */
    cursor: pointer;
}
  
html {
    box-sizing: border-box;
    font-size: 16px;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    background: #F8F8F8;
}
  
ol, ul {
    list-style: none;
}
  
img {
    max-width: 100%;
    height: auto;
}


@media (min-width: 320px) and (max-width: 600px) {
    .section-header {
        width: 100%;
        height: auto;
        border-top: 1px solid #D9FFF5;
        border-radius: 1px;
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    }
    
    .section-header__title {
        font-family: "TT Lakes";
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        color: #7E7E82;
        text-transform: uppercase;
        padding: 20px;
        background: inherit;
    }
    
    .brands__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px;
    }
    
    .brands__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        height: 72px;
        width: 240px;
        border-radius: 6px;
        padding: 20px;
    }
    
    .brands__icon {
        box-sizing: content-box;
    }
    
    .button {
        width: 40px;
        height: 40px;
        border: 2px solid #FF3E79;
        border-radius: 50%;
        background: 50% 50% no-repeat;
    }
    
    .button--icon-go {
        background-image: url("data:image/svg+xml, %3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 6L0.707106 2.20711C0.316582 1.81658 0.316582 1.18342 0.707107 0.792893L0.792893 0.707107C1.18342 0.316583 1.81658 0.316583 2.20711 0.707107L6.79289 5.29289C7.18342 5.68342 7.18342 6.31658 6.79289 6.70711L2.20711 11.2929C1.81658 11.6834 1.18342 11.6834 0.792893 11.2929L0.707107 11.2071C0.316583 10.8166 0.316583 10.1834 0.707107 9.79289L4.5 6Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A");
    }

    .test {
        display: none;
    }
        
    .hide {
        display: none;
    }

    .brands__list {
        display: none;
    }

}

 
@media (min-width: 601px) and (max-width: 1119px) {

.section-header {
    width: 100%;
    height: 56px;
    border-top: 1px solid #D9FFF5;
    border-radius: 1px;
    background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
}

.section-header__title {
    font-family: "TT Lakes";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    color: #7E7E82;
    text-transform: uppercase;
    padding: 20px;
    background: inherit;
}

.brands__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.brands__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #EAEAEA;
    border-radius: 6px;
    height: 72px;
    width: 224px;
    border-radius: 6px;
    padding: 20px;
}

.brands__icon {
    box-sizing: content-box;
}

.button {
    width: 40px;
    height: 40px;
    border: 2px solid #FF3E79;
    border-radius: 50%;
    background: 50% 50% no-repeat;
}

.button--icon-go {
    background-image: url("data:image/svg+xml, %3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 6L0.707106 2.20711C0.316582 1.81658 0.316582 1.18342 0.707107 0.792893L0.792893 0.707107C1.18342 0.316583 1.81658 0.316583 2.20711 0.707107L6.79289 5.29289C7.18342 5.68342 7.18342 6.31658 6.79289 6.70711L2.20711 11.2929C1.81658 11.6834 1.18342 11.6834 0.792893 11.2929L0.707107 11.2071C0.316583 10.8166 0.316583 10.1834 0.707107 9.79289L4.5 6Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A");
}

.test {
    font-family: "TT Lakes";
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.20000000298023224px;
    padding: 20px;
    padding-top: 0px;
}

.open::before {
    padding: 20px;
    content: "";
    height: 24px;
    width: 24px;
    background: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E") no-repeat 50% 50%;
}

.close::before {
    padding: 20px;
    content: "";
    height: 24px;
    width: 24px;
    background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.49992 16.4999L11.9999 13.9999L14.4999 16.4999C14.7761 16.7761 15.2238 16.7761 15.4999 16.4999C15.7761 16.2238 15.7761 15.7761 15.4999 15.4999L12.707 12.707C12.3165 12.3165 11.6833 12.3165 11.2928 12.707L8.49992 15.4999C8.22378 15.7761 8.22378 16.2238 8.49992 16.4999C8.77607 16.7761 9.22378 16.7761 9.49992 16.4999ZM9.49992 10.4999L11.9999 7.99992L14.4999 10.4999C14.7761 10.7761 15.2238 10.7761 15.4999 10.4999C15.7761 10.2238 15.7761 9.77607 15.4999 9.49992L12.707 6.70703C12.3165 6.31651 11.6833 6.31651 11.2928 6.70703L8.49992 9.49993C8.22378 9.77607 8.22378 10.2238 8.49992 10.4999C8.77607 10.7761 9.22378 10.7761 9.49992 10.4999Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
}

.hide {
    display: none;
}

.swiper {
    display: none;
}

}

@media (min-width: 1120px) and (max-width: 1920px) {

    .section-header {
        width: 100%;
        height: 56px;
        border-top: 1px solid #D9FFF5;
        border-radius: 1px;
        background: linear-gradient(90deg, #F8F8F8 1.39%, #FFFFFF 100%);
    }
    
    .section-header__title {
        font-family: "TT Lakes";
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        color: #7E7E82;
        text-transform: uppercase;
        padding: 20px;
        background: inherit;
    }
    
    .brands__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px;
        padding: 20px;
    }
    
    .brands__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        border-radius: 6px;
        height: 72px;
        width: 224px;
        border-radius: 6px;
        padding: 20px;
    }
    
    .brands__icon {
        box-sizing: content-box;
    }
    
    .button {
        width: 40px;
        height: 40px;
        border: 2px solid #FF3E79;
        border-radius: 50%;
        background: 50% 50% no-repeat;
    }
    
    .button--icon-go {
        background-image: url("data:image/svg+xml, %3Csvg width='8' height='12' viewBox='0 0 8 12' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M4.5 6L0.707106 2.20711C0.316582 1.81658 0.316582 1.18342 0.707107 0.792893L0.792893 0.707107C1.18342 0.316583 1.81658 0.316583 2.20711 0.707107L6.79289 5.29289C7.18342 5.68342 7.18342 6.31658 6.79289 6.70711L2.20711 11.2929C1.81658 11.6834 1.18342 11.6834 0.792893 11.2929L0.707107 11.2071C0.316583 10.8166 0.316583 10.1834 0.707107 9.79289L4.5 6Z' fill='%23FF3E79'/%3E%3C/svg%3E%0A");
    }
    
    .test {
        font-family: "TT Lakes";
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: -0.20000000298023224px;
        padding: 20px;
        padding-top: 0px;
    }
    
    .open::before {
        padding: 20px;
        content: "";
        height: 24px;
        width: 24px;
        background: url("data:image/svg+xml,%3Csvg width='8' height='11' viewBox='0 0 8 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.50008 0.500076L4.00008 3.00008L1.50008 0.500076C1.22393 0.223933 0.776218 0.223933 0.500076 0.500076C0.223933 0.776218 0.223933 1.22393 0.500075 1.50008L3.29297 4.29297C3.68349 4.68349 4.31666 4.68349 4.70718 4.29297L7.50008 1.50008C7.77622 1.22393 7.77622 0.776218 7.50008 0.500076C7.22393 0.223933 6.77622 0.223933 6.50008 0.500076ZM6.50008 6.50008L4.00008 9.00008L1.50008 6.50008C1.22393 6.22393 0.776218 6.22393 0.500076 6.50008C0.223933 6.77622 0.223933 7.22393 0.500075 7.50008L3.29297 10.293C3.68349 10.6835 4.31666 10.6835 4.70718 10.293L7.50008 7.50008C7.77622 7.22393 7.77622 6.77622 7.50008 6.50008C7.22393 6.22393 6.77622 6.22393 6.50008 6.50008Z' fill='%2341F6D7'/%3E%3C/svg%3E") no-repeat 50% 50%;
    }
    
    .close::before {
        padding: 20px;
        content: "";
        height: 24px;
        width: 24px;
        background: url("data:image/svg+xml,%0A%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.49992 16.4999L11.9999 13.9999L14.4999 16.4999C14.7761 16.7761 15.2238 16.7761 15.4999 16.4999C15.7761 16.2238 15.7761 15.7761 15.4999 15.4999L12.707 12.707C12.3165 12.3165 11.6833 12.3165 11.2928 12.707L8.49992 15.4999C8.22378 15.7761 8.22378 16.2238 8.49992 16.4999C8.77607 16.7761 9.22378 16.7761 9.49992 16.4999ZM9.49992 10.4999L11.9999 7.99992L14.4999 10.4999C14.7761 10.7761 15.2238 10.7761 15.4999 10.4999C15.7761 10.2238 15.7761 9.77607 15.4999 9.49992L12.707 6.70703C12.3165 6.31651 11.6833 6.31651 11.2928 6.70703L8.49992 9.49993C8.22378 9.77607 8.22378 10.2238 8.49992 10.4999C8.77607 10.7761 9.22378 10.7761 9.49992 10.4999Z' fill='%2341F6D7'/%3E%3C/svg%3E%0A") no-repeat 50% 50%;
    }
    
    .hide {
        display: none;
    }
    
    .swiper {
        display: none;
    }
}